body{
    background: black;
}

.post{
    background: white;
	width: 350px;
	height: 400px;
	margin: auto;
}

.post-header{
    display:flex;
}

.logo{
    width: 25px;
	height: 25px;
    margin: 5px 10px 5px 10px;
}

h6{
    margin:5px 0px 0px 0px;
}
.letra-logo{
    margin:0px 0px 5px 0px;
    font-size: 80%;
}

.icono-dot{
    margin: 8px 10px 5px 230px;
}

.post-body{
    display:flex;
}

.moto{
    width: 350px;
	height: 200px;
}

.post-footer{
    display:flex;
}

.iconos{
    display:flex;
}

.icono-heart{
    margin: 10px 5px 10px 10px;
}

.icono-comment{
    margin: 10px 5px 10px 5px;
}

.icono-plane{
    margin: 10px 10px 10px 5px;
}

.icono-save{
    margin: 8px 10px 5px 240px;
}

.likes{
    font-size: 80%;
    margin: 0px 10px 0px 10px;
}

.text{
    font-size: 80%;
    margin: 0px 10px 0px 10px;
}